* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #f93f23;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/*GLOBAL*/

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
a{
  text-decoration:none;
}

input:focus, select:focus, button:focus{
  outline: none;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

 section{
   margin-top:56px;
   min-height:calc(100vh - 60px);
 }
/* END GLOBAL */

/* HEADER*/
.header{
  position:sticky;
  /* display:flex;
  justify-content: space-between; */
  top:0;
  width: 100%;
  height: 56px;
  background: var(--mainWhite);
  padding : .5rem;
  z-index: 100;
  box-shadow: 2px 0 5px rgba(0,0,0,.5);
}


/* NAVBAR*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  /* justify-content: space-between; */
  align-items:center;
 
}
.nav-center {
  max-width: 1170px;
}

.logo{
  font-size:2rem;
  color: var(--primaryColor);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
 
}

.nav-header span{
  font-size:2rem;
  font-family: 'Great Vibes', cursive;
  color: var(--mainBlack);
  flex:1;
 
}


.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  justify-self: flex-end;

}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.nav-links> a:nth-child(2){
  position:relative;
}

.badge{
  position: absolute;
  top: -1px;
  background: var(--primaryColor);
  padding: 0 2px;
  color: var(--mainWhite);

}

.show-nav {
  height: 150px;
}



/* END NAVBAR*/

/* CONTAINER */
.container{
  display: flex;
  justify-content:center;
  align-items:center;
  background: url("./showcase.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
background-position: 50%;
  height: 50vh;
}
/* END CONTAINER */

/* FORM*/
.form-container{
  flex: 1 1;
  background: var(--mainWhite);
  margin: 0 3rem;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  box-shadow: var(--lightShadow);

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
}

.form-control {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 48px;
    color: #484848;
    background: none;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 8px 11px 11px;
}
 
.search__btn{
position:absolute;
top: 50%;
right:0;
cursor:pointer;
transform: translate(-50%, -50%);
font-size:1rem;
background: transparent;
border:none;
transition: var(--mainTransition);
}

.search__btn:hover >.icon-search{
color: var(--primaryColor);
}

/* END FORM*/



/*  RECIPELIST*/
main h2{
  margin-top: 2rem;
  font-family: 'Great Vibes', cursive;
  border-bottom: 1rem solid var(--primaryColor);
  text-align:center;
  text-transform:capitalize;
}

.recipes__layout{
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  margin-top: 5rem;
}
.recipe__box{
  /* padding : .5rem; */
  border: 1px solid #e6e6e6;
  max-width: 255px;
  max-height: 322px;
  margin: 0 auto;
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  height:194px;
  display: block;
  transition: var(--mainTransition);
}

.cta{
  display:flex;
  justify-content: space-between;
}
.recipe__box  .info {
  padding: 1em 1em .5em;
}
.recipe__box h3{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-size: 1rem;
  line-height: 1.06rem;
  color:var(--mainBlack);
  flex: 3;

}

 
 

.fav__btn{
 border:none;
 cursor:pointer;
 transition: var(--mainTransition);
}

.fav__btn:hover > .fav__btn-icon{
  color:#ff5a5f;
  font-size:1.5rem;
  
}
.fav__btn-icon.active{
 color: #ff5a5f;
 font-size:1.5rem;
}

/* END RECIPELIST*/

/* SINGLE RECIPE*/

.single-recipe {
  padding:  0;
}

.single-recipe h2 {
  font-size:1rem;
}

.single-recipe-info {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr ;
  grid-row-gap: 2rem;
}


.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info a{
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-weight: 300;
}

.btn-link-publisher{
  border-radius: 4px;
  line-height: 24px;
  font-size: 1rem;
  padding: 1rem 1.15rem;
  color: #fff;
  color: var(--mainWhite);
  background: #ff5a5f;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transition: var(--mainTransition);
  transition: var(--mainTransition);
      margin-top: 1rem;
    display: block;
}


/* FOOTER*/
footer{
    background-color: var(--mainBlack);
    padding : 1rem;
    max-width: 100%;
    width: 100vw;
    text-align:center; 
}

footer a { color: var(--mainWhite); }

/* ERROR MSG */
.error{
background-color:  rgba(255, 0,0,.5);
border:1px solid red;
color:var(--mainGrey);
padding: 1rem;
margin: 0;
transition: var(--mainTransition);
}

/* screen  greater than  700px*/
@media screen and (min-width: 700px) {


/* single recipe details*/

.single-recipe {
  padding: 5rem 0 0 0;
}

.single-recipe h2 {
  font-size:2rem;
}


.single-recipe-info {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

}

/* screen  greater than 776px*/
@media screen and (min-width: 776px) {

  .container{
    background-size: cover;
    height: 90vh;
  }

  .nav-btn {
   display:none;  
}

.nav-center {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  height: auto;
  display: flex;
  margin-left: 4rem;
}
.nav-links a {
  margin: 0 1rem;
  padding: 0.5rem 0;
}

/* icon search */
.search__btn{
  font-size:2rem;
}

/* single recipe details*/
.single-recipe {
  padding: 5rem 0 0 0;
}

.single-recipe h2 {
  font-size:2rem;
}


.single-recipe-info {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

}